*{
    margin: 0;
    padding: 0;
}
#game{
    height: 500px;
    width: 390px;
    border: 1px solid black;
    margin: 1rem auto;
    background:url(bg.jpg) ;
    background-size: contain;
    overflow: hidden;
}
#bluecar{
    height: 100px;
    width: 130px;
    background-color: transparent;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: move 1.5s linear  infinite  ;

}
#bluecar img{
    height: 100px;
}
@keyframes move {
    0%{
        top: 0px;
    }
    100%{
        top: 501px;
    }
    
}
#racecar{
    height: 100px;
    width: 130px;
    background-color: transparent;
    position: relative;
    top: 250px;
    left: 130px;
    text-align: center;
}
#racecar img{
    height: 100px;
}

#result{
    height: 160px;
    width: 220px;
    border: 2px solid black;
    background-color: white;
    margin:  1rem auto;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: black;
    display:none ;
}
#score{
    font-size: 2.2rem;
    color: black;
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(10, 177, 10);
    color: white;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}